body{
    background:linear-gradient(to left,rgba(255, 255, 0, 0.658),white,rgba(18, 226, 191, 0.733))
} 


form{
    text-align: center;
    height: 100vh;
    line-height: 100vh;
}



input {


    border-radius: 16px;
    color:rgb(14, 14, 155);

    background-color:rgba(22, 19, 13, 0.336);
}
label:hover{

    color: blue;
}